langchain
langchain-community
langchain-openai
openai
tweepy
google-api-python-client
google-search-results
requests
beautifulsoup4
serpapi
qdrant-client
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
newspaper3k
lxml[html_clean]
transformers
torch 
torchvision 
torchaudio